/* Updated CSS */
body {
  display: flex;
  flex-direction: column;
  font-family: Arial, sans-serif;
  color: #333;
  background-color: #778899;
  margin: 0;
  padding: 0;
}

.header {
  background-color: #2f4f4f;
  color: #fff;
  text-align: center;
  padding: 50px 20px;
}

.header h1 {
  font-size: 2.5rem;
  margin-bottom: 10px;
}

.header p {
  font-size: 1.2rem;
  margin-bottom: 30px;
}

.header .signup-form {
  display: flex;
  justify-content: center;
}

.header .signup-form input[type=email] {
  padding: 10px;
  border: none;
  border-radius: 4px 0 0 4px;
  font-size: 1rem;
  width: 300px;
}

.header .btn-primary {
  padding: 10px;
  border: none;
  border-radius: 0 4px 4px 0;
  background-color: #bdb76b;
  color: #fff;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

.header .btn-primary:hover {
  background-color: #ece91d;
}

img {
  border-radius: 15px;
  margin: 20px auto; /* Center the image */
  width: 100%; /* Make image responsive */
  max-width: 700px; /* Add max-width */
}

.container.Hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: auto; /* Adjust height for mobile */
  text-align: center;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.features {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background-color: #778899;
  padding: 50px 20px;
  text-align: center;
}

.features h2 {
  font-size: 3rem;
  margin-bottom: 20px;
  color: #bdb76b;
}

.features ul {
  list-style-type: none;
  padding: 0;
}

.features ul li {
  font-size: 2rem;
  margin-bottom: 10px;
}

.footer {
  background-color: #2f4f4f;
  text-align: center;
  padding: 20px;
}

.footer p {
  margin: 0;
  font-size: 1rem;
  color: #f5f5f5;
}

@media (min-width: 768px) {
  .header {
    padding: 50px 50px;
  }

  .header .signup-form {
    display: block;
    text-align: center;
  }

  .container.Hero {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .features {
    flex-direction: row;
    justify-content: space-around;
  }
}

@media (min-width: 992px) {
  .rounded-lg-3 {
    border-radius: .3rem;
  }
}
